<!-- funcao para -->
<%= form_with(model: [@article, @article.comments.build ]) do |form| %>
  <p>
    <%= form.label :commenter, 'Nome' %><br>
    <%= form.text_field :commenter%>
  </p>
  <p>
    <%= form.label :body, 'Comentário' %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit 'Modificar comentário',  %>
  </p>
<% end %>