<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2 class="my-4">Editar post</h2>
      <%= form_with(model: [@article, @comment]) do |form| %>
          <div class="form-group">
            <p>
              <%= form.label :Nome %><br>
              <%= form.text_field :commenter, class:"form-control"  %>
            </p>
            <p>
              <%= form.label :Comentário %><br>
              <%= form.text_area :body, class:"form-control" %>
            </p>
          </div>
          <p>
            <%= form.submit 'Enviar comentário', class:"btn btn-primary" %>
          </p>
        <% end %> 
  <%= link_to 'Voltar', articles_path, class:"btn btn-secondary"  %>
    </div>
  </div>
</div>