<div class="row">
  <div class="col-md-4 col-md-offset 4">

    <h1>Novo Post</h1>
	 
	<%= form_with scope: :article, url: articles_path, local: true do |form| %>
	 
	  <% if @article.errors.any? %>
	    <div id="error_explanation">
	      <h2>
	 	    <%- # tutorial está diferente, olhar primeiro link git, na parte de Adding Some Validation -%>
	        Post possui erros:
	      </h2>
	      <ul>
	        <% @article.errors.full_messages.each do |msg| %>
	          <li><%= msg %></li>
	        <% end %>
	      </ul>
	    </div>
	  <% end %>
	 
	  <div class="form-group">
		<p>
		  <%= form.label :Título %><br>
		  <%= form.text_field :title %>
		</p>
	  </div>
		 
	  <div class="form-group">	 
		<p>
		  <%= form.label :Texto %><br>
		  <%= form.text_area :text %>
		</p>
	  </div>

	  <div class="actions">
		<p>
		  <%= form.submit 'Criar Post', class:"btn btn-primary" %>
		</p>
	  </div>
	 
	<% end %>
	 
	<%= link_to 'Voltar', articles_path %>
  
  </div>
</div>