<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <br>
      <h1>
	  	<strong></strong>
	  	<%= @article.title %>
	  </h1>
      <hr>
      <img class="img-fluid rounded" src="https://images2.nogueirense.com.br/wp-content/uploads/2014/06/Minas-Gerais-feijao-tropeiro.jpeg" alt="">
      <hr>
      <p class="lead">
  		<%= @article.text %>
	  </p>
      <hr>
      <h4>Comentários:</h4>
      <br>
      <%= render @article.comments %>

      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <ul class="pagination">
              <li class="page-item">
                <%= will_paginate @comments, :page_links => false, :previous_label => "Anterior", :next_label => "Próximo", :class => 'page-link' %>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!--<h2>Add a comment:</h2>-->
      <hr>
	  <%= render 'comments/form' %>

    

	</div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

      <!-- Search Widget -->
      <div class="card my-4">
        <h5 class="card-header">Busca</h5>
        <div class="card-body">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Busque por...">
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button">Ir!</button>
            </span>
          </div>
        </div>
      </div>

      <!-- Categories Widget -->
      <div class="card my-4">
        <h5 class="card-header">Veja também</h5>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#">Entradas</a>
                </li>
                <li>
                  <a href="#">Pratos salgados</a>
                </li>
                <li>
                  <a href="#">Sobremesas</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#">Saladas</a>
                </li>
                <li>
                  <a href="#">Carnes</a>
                </li>
                <li>
                  <a href="#">Doces</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <%= link_to 'Editar post', edit_article_path(@article), class:"btn btn-secondary" %>
  <%= link_to 'Voltar', articles_path, class:"btn btn-secondary"%>
</div>

